<!DOCTYPE html>
<html lang="en">
<!--Based on basic bootstrap template from http://getbootstrap.com/getting-started/-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Leonardo - Statistics</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <style>
        svg {
            margin-bottom: 20px;
        }
    </style>

</head>
<body>
<div class="container">

    <h1>Project Leonardo - Analysis</h1>

    <p>
        This page shows analysis results for the
        <a href="../../examples/leonardo/leonardo.html">ozelot example project 'leonardo'</a>.
    </p>

    <h3>Development of painting size over time</h3>

    <div class="row">

        <div class="col-md-12">
            {{ area_by_decade_svg }}
        </div>

    </div>

    {% if extended %}

        <h3>Dependence of painting area on artist's gender</h3>

        <div class="row">

            <div class="col-md-12">
                {{ area_by_gender_svg }}
            </div>

        </div>

    {% endif %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
</body>
</html>